<footer class="py-5">

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-3">
        <a class="tauiwi-logo" href="/"><img class="d-inline-block" src="/img/tauiwi-solutions-logo.jpg" alt="" width="110" height="110"></a>
      </div>
      <div class="col-md-6">
        <nav class="nav flex-column">
          {{ range first 4 .Site.RegularPages }}
            {{ .Render "nav-links"}}
          {{ end }}
        </nav>
      </div>
    </div>
  </div>

  <div class="container foot-links">
    <div class="row justify-content-center footer-mobile-padding">
      <div class="col-md-9">
        <a class="nav-link" href="/page/website-terms-of-use/">Terms of Use</a> |
        <a class="nav-link" href="/page/online-privacy-policy/">Privacy Policy</a>
        <p>&copy; All rights reserved, {{ .Site.Title }}, {{ now.Year }}</p>
      </div>
    </div>
  </div>

</footer>
