{{ define "main" }}
  <div class="page-banner">
    <img src="{{ .Params.photo }}" alt="hero image">
    <div class="page-title">
      <h2>{{ .Title }}</h2>
      <p>{{ .Params.subtitle }}</p>
      <a class="cta-btn" href="/page/about-us/">Learn more</a>
    </div>
  </div>

  <div class="container my-5 text">
    <div class="row">
      <div class="col-md-6">
        {{ .Content }}
      </div>
      <div class="col-md-6 info-col">
        <h2>Contact Us</h2>
        {{ if not (eq .Params.address.email "") }} <p><i class="bi bi-envelope-fill"></i>{{ .Params.address.email }}</p> {{ end }}
        {{ if not (eq .Params.address.phone "") }} <p><i class="bi bi-telephone-fill"></i>0{{ .Params.address.phone }}</p> {{ end }}
        {{ if not (eq .Params.address.postal "") }}<p><i class="bi bi-mailbox2"></i>{{ .Params.address.postal }}</p> {{ end }}
      </div>
    </div>
  </div>
{{ end }}
