{{ define "main" }}
  <div class="page-banner">
    <img src="{{ .Params.photo }}" alt="hero image">
    <div class="page-title">
      <h2>{{ .Title }}</h2>
      <p>{{ .Params.subtitle }}</p>
      <a class="cta-btn" href="/page/about-us/">Learn more</a>
    </div>
  </div>
  <div class="container my-5 text">
    <div class="row">
      <div class="col-md-6">
        {{ .Content }}
      </div>
      <div class="col-md-6">
        <h2>Contact Us</h2>
        <p><i class="bi bi-envelope"></i>{{ .Params.address.email }}</p>
        <p><i class="bi bi-telephone"></i>{{ .Params.address.phone }}</p>
        <p><i class="bi bi-mailbox"></i>{{ .Params.address.postal }}</p>
      </div>
    </div>
  </div>
{{ end }}
