body {
  font-family: 'Open Sans', sans-serif;
  color: #656d78;
}

h1, h2 {
  font-weight: 700;
}

a.tauiwi-logo {
  font-weight: 700;
}

a.tauiwi-logo img {
  border-radius: 50%;
  box-shadow: rgb(0 12 28 / 60%) 0px 1px 45px;
}

@media (max-width: 992px) {
  p.site-title {
    display: none;
  }
}

p.site-title {
  margin-bottom: 0;
  font-weight: 700;
  font-size: 1.4rem;
  text-shadow: rgb(0 12 28 / 80%) 0px 1px 20px;
}

p.site-title, .navbar-nav a {
  color: #ffffff;
}

nav.navbar.navbar-expand-lg {
  background: rgb(141, 100, 160);
}

a.cta-btn {
  background-color: #ddd;
  border: none;
  color: black;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition: 0.3s;
  text-decoration: none;
  border-radius: 2rem;
}
a.cta-btn:hover {
  background-color: rgb(141, 100, 160);
  color: white;
}

.page-banner {
  position: relative;
}

.page-banner img {
  width: 100%;
  height: 600px;
  object-fit: cover;
  filter: brightness(50%);
}

.page-title {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.page-title h2 {
  font-size: 3rem;
}

.page-title p {
  font-style: italic;
  font-weight: 700;
  font-size: 1.4rem;
  margin-bottom: 2rem;
  color: rgb(165, 217, 251);
}
