body {
  font-family: 'Open Sans', sans-serif;
}

a.tauiwi-logo {
  font-weight: 700;
}

a.tauiwi-logo img {
  border-radius: 50%;
}

nav.navbar.navbar-expand-lg {
  background: rgb(141, 100, 160);
}

a.tauiwi-logo, .navbar-nav a {
  color: #ffffff;
}
